body{
	background: #696969;
}

.nav-wrapper{
	background: green;
}

.page-footer{
	background: green;
}



.page1{
	margin-top: 20px;
}

.page2{
	font-size: 20px;
    margin-top: 14px;
}


.brand-logo{
	margin-top: 7px;
	margin-left: 7px;
}


.j{
	margin-top: 60px;
}

.w{
	margin-top: 50px;
}

.helper{
	margin-top: -10px;
}

.helper1{
	margin-top: -10px;
}


.gus{
	margin-top: 60px;
	margin-bottom: 50px;
}

.gus1{
	margin-top: -30px;
	margin-bottom: 70px;

}


.row
{
	margin-top: 100px;
}


.page-footer{
	margin-bottom: -30px;
	
}















